In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.tree import DecisionTreeClassifier
import pandas as pd
import numpy as np
df = pd.DataFrame({'tweets': ['one', 'two', 'one two three', 'four'], 'labels': [1, 0, 1, 0]})
vectoriser = TfidfVectorizer()
df['tweetsVect'] = list(vectoriser.fit_transform(df['tweets']).toarray())
tree = DecisionTreeClassifier()
tree.fit(df['tweetsVect'].tolist(), df['labels'].tolist())

df.head()

   labels         tweets                                         tweetsVect
0       1            one                               [0.0, 1.0, 0.0, 0.0]
1       0            two                               [0.0, 0.0, 0.0, 1.0]
2       1  one two three  [0.0, 0.52640543361, 0.66767854461, 0.52640543...
3       0           four                               [1.0, 0.0, 0.0, 0.0]

In [2]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()

df = pd.DataFrame({'tweets': ['one', 'two', 'one two three', 'four'], 'labels': [1, 0, 1, 0]})

corpus = [ 'This is a sentence',
           'Another sentence is here',
           'Wait for another sentence',
           'The sentence is coming',
           'The sentence has come'
         ]

x = vectorizer.fit_transform(corpus)
test = pd.DataFrame(x.A, columns=vectorizer.get_feature_names())

new = pd.concat([test,df])

test.head()

   another  come  coming  for  has  here  is  sentence  the  this  wait
0        0     0       0    0    0     0   1         1    0     1     0
1        1     0       0    0    0     1   1         1    0     0     0
2        1     0       0    1    0     0   0         1    0     0     1
3        0     0       1    0    0     0   1         1    1     0     0
4        0     1       0    0    1     0   0         1    1     0     0